<div class="cart-panel" *ngIf="carts.length != 0; else noData">
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of carts">
            <img class="img" [src]="item.url"/>
            <div class="cart-item-details">
                <span class="product-name">{{item.name}}</span>
                <span class="product-price">{{item.price}}$</span>
                    <app-cart-item (updateTotal)="onUpdateTotal()" [cartItem]="item"></app-cart-item>
            </div>
        </div>
        <div class="total">
            <span>
                Total:
            </span>
            <span class="total-number">
                {{ total }}$
            </span>
        </div>
    </div>
    <div class="form-container">
        <app-buyer-information (checkout)="onSubmit($event)" ></app-buyer-information>
    </div>
</div>

<ng-template #noData>
    <div class="cart-message"> 
        <img alt="" src="https://cdn-icons-png.flaticon.com/512/15/15457.png"/>
        <div class="empty-cart-message">
            No item in your cart!!
            <a routerLink='/'>Continue Shopping...</a>
        </div>
    </div>
</ng-template>