<div class="confirmation-container">
    <div class="confirmation-header">
        🎉SUCCESS🎉
    </div>
    <div class="confirmation-items">
        <div class="confirmation__item">
            Thank you, <b>{{ fullname }}!!</b>
        </div>
        <div class="confirmation__item">
            Total price of your order is <b>${{ total }}</b>. The order is confirmed!
        </div>
        <div class="confirmation__item">
            Please waiting for 3 business days for process your order.
        </div>
        <div class="confirmation__item">
            <a routerLink="/"> Return to continue shopping ... </a>
        </div>
    </div>
</div>