<div class="product-container">
    <a routerLink="/products/{{ product.id }}"><img class="product-image" [src]="product.url" /></a>
    <span class="product-name">{{ product.name }}</span>
    <span class="product-price">${{ product.price }}</span>
    <div class="add-cart">
          <button mat-mini-fab (click)="remove()" >
            <mat-icon >remove</mat-icon>
          </button>
          <input type="number" class="select-input" [value]="quantity" name="quantity"/>
          <button mat-mini-fab  (click)="add()">
            <mat-icon>add</mat-icon>
          </button>
    </div>
    <button mat-raised-button color="primary" (click)="addToCart()" >Add to Cart</button>
</div>