.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1024px;
  flex: 1 0 calc(30% - 10px)
}

.product-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}